<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.application.ksgu">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="KSU"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/AppTheme2"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon,android:label">
        <activity android:name=".ListPermohonanActivity" />
        <activity android:name=".LoginActivity2" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".ListDokumenActivity" />
        <activity android:name=".PermohonanDetailActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".VerificationActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PermohonanListActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".RegisterActivity2" />
        <activity android:name=".PermohonanActivity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.application.ksgu.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="com.admin1.coin.app.fileprovider.READ"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>